{% extends 'layout.html.twig' %}

{% block fos_user_content %}
    <div class="row">
        <div class="jumbotron col-md-6 col-md-offset-1">
            <h2 style="text-align: center">Comments list</h2>
            <div class="list-group">
                <a href="{{ path('comment_new') }}" class="btn btn-primary btn-lg btn-block">Create comment</a>
                <ul class="list-group">
                    {% for comment in comments %}
                        <li style="background-color: #5cb85c" class="list-group-item">
                            <textarea class="well" style="width: 100%" name="text" id="commentText_{{ comment.id }}" rows="2">{{ comment.text }}</textarea>
                            {{ comment.create }}
                            {% if (comment.userId == app.user.id) %}
                                <span style="float: right">
                                    <a href="#" onclick="return editComment({{ comment.id }});">
                                        <i class="fa fa-save fa-lg"></i>
                                    </a>
                                    <a href="{{ path('comment_delete', { 'id': comment.id }) }}">
                                        <i class="fa fa-times fa-lg"></i>
                                    </a>
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="jumbotron col-md-4">
            <h2 style="text-align: center">Friends list</h2>
            <ul class="list-group">
                {% for friend in friends %}
                    <li class="list-group-item">
                        <span>{{ friend.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>


    <script>
        function editComment(commentId) {
            var newText = $('#commentText_' + commentId).val();
            $.post(
                    "{{ path('comment_edit_ajax') }}",
                    {
                        commentId: commentId,
                        newText: newText
                    },
                    function (data) {
                        $('#commentText' + commentId).attr("value", newText)
                    }
            );

        }

    </script>
{% endblock %}
